@page "{id}"
@using ConsoleCafe.WebSite.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileProductService ProductService
@model DownloadModel
@{
    ViewData["Title"] = "Download Game";
}

<div class="content-bgcolor">
    <h1 class="title" id="productTitle">@Model.Product.Name</h1>
    <img class="card-img" src='@Model.Product.Image' alt='Image for @Model.Product.Title'>

    <!-- Displays only the properties selected-->
    <div>
        @foreach (var property in Model.Product.GetType().GetProperties()
        .Where(p => p.Name == "Description" || p.Name == "Maker" || p.Name == "ProductType"))
        {
            if (@property.Name == "Description")
            {
                <h5 class="black-color">About the Game</h5>
            }
            if (@property.Name == "Maker")
            {
                <h5 class="black-color">Publisher</h5>
            }
            if (@property.Name == "ProductType")
            {
                <h5 class="black-color">Game Genre</h5>
            }

            <p>@property.GetValue(Model.Product)</p>
        }
    </div>

</div>

<br />
<br />

<div class="row">
    <a href="#Download_Popup" role="button" id="ShowPopup" data-toggle="modal" class="btn btn-primary">Download</a>
</div>

 <div class="modal fade" id="Download_Popup" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="card-title" id="productTitle">Downloading... @Model.Product.Name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card">
            <img class="card-img" src='@Model.Product.Image' alt='Image for @Model.Product.Title'>
          </div>
        </div>
      </div>
    </div>
</div>




